h3 {
    color: #dfdfdf;
}

.MakeTweet {
    display: flex;
    padding: 20px;
}

.tweetProfile {
    margin-right: 10px;
}

.tweetField{
    border: none;
    outline: 0;
    size: 20px;
}

input {
    height: 40px;
    text-size-adjust: 24px;
    width: 100%;
    background-color: transparent;
    font-size: 24px;
    color: white;
}

.tweetButton {
    border: none;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #1b8fdd;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 130%;
    width: 100px;
}