.sidebar {
    border-right: 1px solid #2f3336;
    flex: 0.2;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar a {
    text-decoration: none;
}

.twitterIcon{
    font-size: 30px !important;
    margin-left: 0px;
    margin-bottom: 0px;
}

.sidebar a.nav-selected {
    font-weight: bold;
}

.sidebar text{
    font-weight: bold;
}