.newsColumn {
    padding-top: 10px;
    margin-left: 20px;
    min-width: 300px;
}

.searchBar{
    display: flex;
    color: white;
    border: none;
    background-color: #202020;
    border-radius: 50px;
    height: 50px;
    align-items: center;
}

.searchIcon {
    color: #757575;
}

.searchTwitterField{
    border: none;
    outline: 0;
    font-size: 16px;
}

.itemOne {
    min-width: 300px;
    border: none;
    outline: 0;
    color: white;
    background-color: #15181c;
    margin-top: 1rem;
    border-radius: 20px;
    width: 240px;;
}

.oneHeader {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.oneHeaderSpecial{
    color: gray;
    padding-left: 20px;
    font-size: 14px;
}

.oneDescription{
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.itemTwo {
    min-width: 300px;
    border: none;
    outline: 0;
    color: white;
    background-color: #15181c;
    margin-top: 1rem;
    border-radius: 20px;
    width: 240px;;
}

.followAvatar{
    padding-left: 20px;    
}

.followPerson{
    display: flex;
    align-items: center;
}

.followUser{
    padding: 10px;
    padding-bottom: 20px;
}

.followButton{
    border: none;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0f1419;
    background-color: #eff3f4;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    width: 80px;
    margin-left: 20px;
}

.footer {
    color: #757575;
    font-size: 14px;
}